@import url("../css/all.min.css");
@import url("../css/v4-shims.min.css");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600&display=swap');
*{
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 0;
    margin: 0;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
}
:focus{
    outline: none !important;
}
body{
    background-color: #eee;
    overflow: overlay;
}
body.unscrolable{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #555;
}
.shad{
    box-shadow: #000 0px 0px 6px -5px;
}
a{
    cursor: pointer;
    color: #000;
}
.null{
    position: fixed;
    top: 100000px;
}

/*  */
input[type="email"],
input[type="password"],
input[type="url"],
input[type="text"],
textarea{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    border: solid 1px #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    transition: .3s;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus{
    background-color: #ddd;
}
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="text"]:focus::placeholder,
input[type="url"]:focus::placeholder,
textarea:focus::placeholder{
    color: #111;
}
input[type="submit"],
input[type="button"],
button{
    border: none;
    width: 100%;
    background-color: #030607;
    color: #fff;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    transition: .3s;
}
textarea{
    resize: none;
    display: block;
    height: 120px;
    padding: 5px 10px;
    line-height: 25px;
}

/*  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    z-index: 10;
}
header > a{
    position: relative;
    color: #000;
    width: 100px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}
header > a::before,
.side > div > a::before,
.side > div > span::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: #ccc;
    border-radius: 5px;
    transition: .3s;
}
header > a:hover::before,
.side > div > a:hover::before,
.side > div > span:hover::before{
    width: 100%;
}
header > a i{
    position: relative;
    top: 1px;
    left: 5px;
}
header:nth-of-type(2){
    display: none;
}
header:nth-of-type(2) i{
    position: static;
    line-height: inherit;
}
header + div{
    height: 50px;
}


/*  */
.container{
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}
/*  */
.side{
    position: fixed;
    top: 110px;
    right: 17px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    transition: .3s;
    z-index: 2;
    padding-bottom: 0px;
}
.side > div{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 500px;
    transition: .3s ease-in-out;
}
.side > div.closed{
    max-height: 32px;
    margin-bottom: 5px;
}
.side > div.closed1{
    overflow: hidden;
}
.side > div:last-of-type{
    margin-bottom: 0px;
    justify-content: space-between;
}
.side > div:last-of-type.closed{
    margin-bottom: 10px !important;
}
.side > div.hidden{
    display: none;
}
.side > div > h3{
    margin-bottom: 10px;
    width: 100%;
    padding-right: 15px;
    position: relative;
}
.side > div > h3 > i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: .3s;
    width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}
.side > div > h3:hover i{
    background-color: #e0e0e0;
}
.side > div.closed > h3 > i{
    transform: translateY(-50%) rotate(180deg);
}
.side > div > span,
.side > div > a{
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 3px;
    transition: 0.3s;
    position: relative;
}
.side > div > a{
    width: 100%;
    margin: 5px 0;
    background-color: #ececec;
}
.side > div > a:hover{
    background-color: #e0e0e0;
}
.side > div > a::before,
.side > div:last-of-type > span::before{
    transform-origin: center;
    width: 100%;
    transform: translateX(-50%) scaleX(0);
}
.side > div > a:hover::before{
    transform: translateX(-50%) scaleX(1);
}
.side > div:last-of-type > span{
    width: calc(50% - 5px);
    margin-bottom: 10px;
    background-color: #eee;
    text-align: center;
    font-size: 13px;
    padding: 0px;
    padding-right: 30px;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.side > div:last-of-type > span:hover{
    background-color: #e0e0e0;
}
.side > div:last-of-type > span::after{
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: scale(0) translateY(-50%);
    opacity: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    transition: .3s;

    
}
.side > div:last-of-type > span.active{
    background-color: #00579c;
    color: #fff;
}
.side > div:last-of-type > span.active::before{
    transform: translateX(-50%) scaleX(1);
}
.side > div:last-of-type > span.active::after{
    transform: scale(1) translateY(-50%);
    opacity: 1;
}
.side > div > span.active{
    background-color: #ccc;
}
.side > div > span.active::before{
    width: 100%;
}
.side > i{
    transition: .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    left: -15px;
    /* left: 205px; */
    padding: 15px;
    cursor: pointer;
    background-color: #fff;
    font-size: 20px;
    /* box-shadow: #000 -1px -1px 6px -5px; */
}
.side > i::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.side > i:hover{
    color: #555;
}
.side.hidden{
    transform: translateX(calc(100% + 17px));
}
.side.hidden > i{
    transform: translateY(-50%) translateX(-21px) rotate(-225deg);
    left: -15px;
}
@media screen and (min-width: 1300px){
    .side > i{
        opacity: 0;
        pointer-events: none;
    }
    .side{
        position: absolute;
    }
}

/* QMcontainer */
.QMcontainer{
    width: calc(100% - 230px);
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: .3s;
    max-width: 1100px;
    transform: translateX(0%);
}
.QMcontainer.opened{
    width: calc(100% - 10px);
}
.Mcontainer, .Qcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
}
.Mcontainer.hidden, .Qcontainer.hidden{
    display: none;
}
.Mcontainer > h2, .Qcontainer > h2{
    width: calc(100% - 10px);
    text-align: center;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
}
.qesa{
    width: calc(100% / 5 - 10px);
    overflow: hidden;
    background-color: #fff;
    box-shadow: #000 0px 0px 6px -5px;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-right: 10px;
}
.qesa > div{
    padding-top: calc(100% * 9 / 6);
    overflow: hidden;
    position: relative;
}
.qesa > div > img{
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    object-fit: cover;
}
.qesa > div > div{
    top: 50%;
    right: 0;
    transform: translate(100% ,-50%);
    position: absolute;
    width: 35px;
    background-color: #fff;
    text-align: center;
    transition: .3s;
}
.qesa:hover div > div{
    transform: translate(0 ,-50%);
}
.qesa > div > div > a{
    display: block;
    line-height: 35px;
    height: 35px;
    line-height: 35px;
    transition: .3s;
    color: #000;
}
.qesa > div > div > a > i{
    line-height: inherit;
}
.qesa > div > div > a:hover{
    background-color: #e0e0e0;
}
.qesa > div > i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #ff9846;
}
.qesa > div > i + span{
    position: absolute;
    top: 13px;
    left: 22px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    pointer-events: none;
}
.qesa > div > i > p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 90%);
    font-size: 13px;
    background-color: #ff9846;
    border-radius: 2px;
    color: #000;
    padding: 3px 5px;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
}
.qesa > div > i:hover > p{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 115%);
}
.qesa > div > i > p::before{
    content: "";
    border: 5px solid transparent;
    border-color: transparent transparent #ff9846 transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -98%);
}
.qesa > h3 > a{
    width: 100%;
    font-size: 17px;
    text-align: center;
    color: #555;
    display: block;
    padding: 3px 0;
    margin-top: 5px;
    transition: .3s;
}
.qesa > h3 > a:hover{
    color: #000;
}
.qesa > div > article{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(to top, #0009, #fff0);
    padding: 0 10px;
}
.qesa > div > article > span{
    color: #ff7300;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (min-width: 1100px){
    .QMcontainer{
        transition: 0s;
    }
    .QMcontainer.opened{
        width: calc(100% - 10px);
        position: static;
        margin: auto;
    }
}
@media screen and (max-width: 1100px){
    *{
        cursor: default !important;
    }
    .QMcontainer {
        position: static !important; 
        width: calc(100% - 10px) !important;
        transform: translateX(0%) !important;
        margin: unset !important;
    }
    .side{
        top: 100px;
        right: 10px;
    }
}
@media screen and (max-width: 850px){
    .qesa {
        width: calc(100% / 4 - 10px);
    }
}

@media screen and (max-width: 768px){
    .QMcontainer{
        padding-bottom: 50px;
    }
    header{
        top: unset;
        bottom: 0;
        display: none;
    }
    header + div{
        height: 0;
    }
    header:nth-of-type(2) {
        display: flex;
        font-size: 23px;
    }
    .qesa {
        width: calc(100% / 3 - 10px);
    }
    .qesa > h3 > a{
        font-size: 15px;
    }
    .Mcontainer > h2, .Qcontainer > h2{
        font-size: 20px;
    }
    .side {
        top: 50px;
        right: 10px;
    }
}

.floated{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
    z-index: 10;
    transition: .3s;
    transform: scale(1);
}
.floated.hidden{
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
}
.floated > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
    z-index: 1;
}
.floated > article:not(.overlay){
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    background-color: #eee;
    padding: 10px;
    padding-top: 5px;
    min-width: 500px;
    transform: translate(-50%, -50%);
}
.floated > article:not(.overlay) > i{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ef0000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}
.floated > article:not(.overlay) > i:hover{
    background-color: #d90000;
}
.floated > article:not(.overlay) > h3{
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
    padding-right: 5px;}
.floated > article:not(.overlay) button{
    border: none;
    width: 100%;
    background-color: #202020;
    color: #fff;
    height: 35px;
    line-height: 35px;
    transition: .3s;
} 
.floated > article:not(.overlay) button i{
    position: relative;
    top: 2px;
}
.floated > article:not(.overlay) button:hover{
    background-color: #000;
}

.floated.signing > article:not(.overlay) > form > p{
    padding: 0px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.floated.signing > article:not(.overlay) > form > article{
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    padding-right: 30px;
}
.floated.signing > article:not(.overlay) > form > p > a,
.floated.signing > article:not(.overlay) > form > p > span,
.floated.signing > article:not(.overlay) > form > article a{
    cursor: pointer;
    color: #00579c;
    transition: .3s;
    font-weight: bold;
}
.floated.signing > article:not(.overlay) > form > p > a:hover,
.floated.signing > article:not(.overlay) > form > p > span:hover,
.floated.signing > article:not(.overlay) > form > article a:hover{
    color: #007adb;
}
.floated.signing > article:not(.overlay) > form > article > input{
    opacity: 0;
    position: absolute;
}
.floated.signing > article:not(.overlay) > form > article > input + span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    border-radius: 50%;
    height: 16px;
    border: solid 2px #00579c;
    background-color: #fff;
    right: 10px;
}
.floated.signing > article:not(.overlay) > form > article > input + span::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00579c;
    transition: .3s;
    opacity: 0;
}
.floated.signing > article:not(.overlay) > form > article > input:checked + span::before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.floated.signing > article:not(.overlay) > form > article > input + span + label{
    display: block;
}
@media screen and (max-width: 768px){
    .floated > article:not(.overlay){
        min-width: 400px;
    }
    .floated.signing > article:not(.overlay) > form > article > input + span + label,
    .floated.signing > article:not(.overlay) > form > p{
        font-size: 13px;
    }
}

.cookies{
    position: fixed;
    bottom: 30px;
    left: 50%;
    width: 95%;
    background-color: #444;
    transform: translateX(-50%) translateY(calc(100% + 40px));
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
    transition: .3s linear;
    opacity: 0;
}
.cookies.showen{
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
.cookies > p{
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}
.cookies > button{
    background-color: #333;
    width: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.cookies > button:hover{
    background-color: #222;    
}
@media screen and (max-width: 768px){
    .cookies{
        bottom: 60px;
    }
}

.fav > article:not(.overlay){
    min-width: unset;
    width: calc(100% - 20px);   
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.fav > article:not(.overlay) > .QMcontainer{
    position: static;
    width: 100%;
    max-width: 100% !important;
}
.fav .Qcontainer,
.fav .Mcontainer{
    justify-content: space-around;
}
.fav .qesa{
    margin-right: 0;
    width: calc((100% - 50) / 5);
}
